@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}
body * a {
  text-decoration: none;
}
body * ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 95vh;
  max-width: 100vw;
  width: 100%;
  /*
  &::after {
  	background-color: rgba(0,0,0,0.5);
  	content: "";
  	position: absolute;
  	opacity: 0.3;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  } */
}
.slider-container .slide1 {
  background-image: url("https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
  background-size: cover;
  background-position: center;
}
.slider-container .slide2 {
  background-image: url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
  background-size: cover;
  background-position: center;
}
.slider-container .slide3 {
  background-image: url("https://images.unsplash.com/photo-1504707748692-419802cf939d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1330&q=80");
  background-size: cover;
  background-position: center;
}
.slider-container .slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transform: scale(1.15);
  transition: opacity 0.6s ease;
}
.slider-container .slide .slider-card {
  width: 50%;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0%, -50%);
}
.slider-container .slide .slider-card h1,
.slider-container .slide .slider-card h2 {
  position: relative;
  color: #fff;
  font-size: 50px;
  letter-spacing: 5px;
  position: relative;
  z-index: 999;
  text-transform: capitalize;
}
.slider-container .slide .slider-card p {
  color: #fff;
  font-size: 20px;
}
.slider-container .slide .slider-card .slider-buttons {
  margin-top: 40px;
}
.slider-container .slide .slider-card .slider-buttons a {
  border-radius: 5px;
  padding: 12px 30px;
  text-transform: uppercase;
  background-color: #2b9b1f;
  color: #fff;
}
.slider-container .slide .slider-card .slider-buttons a:first-child {
  margin-right: 30px;
}
.slider-container .controls-container {
  position: absolute;
  top: 50%;
  right: 30px;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  z-index: 2;
}
.slider-container .controls-container .control {
  background-color: #fff;
  cursor: pointer;
  opacity: 0.5;
  margin: 6px;
  height: 25px;
  width: 10px;
  border-radius: 5px;
  transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
}
.slider-container .controls-container .control.active, .slider-container .controls-container .control:hover {
  background-color: #fff;
  opacity: 1;
  transform: scale(1.2);
}
@-webkit-keyframes grow {
  0%, 20% {
    transform: scale(1);
  }
  75%, 100% {
    transform: scale(1.15);
  }
}
@keyframes grow {
  0%, 20% {
    transform: scale(1);
  }
  75%, 100% {
    transform: scale(1.15);
  }
}

.slide.active {
  -webkit-animation: grow 4s linear forwards;
          animation: grow 4s linear forwards;
  opacity: 1;
}

.middle-section {
  padding: 50px 0px;
}
.middle-section .middle-section-card .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.middle-section .middle-section-card .heading i {
  display: block;
  font-size: 30px;
  color: #2b9b1f;
  margin-right: 15px;
}
.middle-section .middle-section-card .heading h2 {
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: normal;
  text-transform: capitalize;
  color: #000;
}
.middle-section .middle-section-card .info p {
  text-align: center;
  color: #767d8e;
  margin-bottom: 0px;
}
.middle-section .middle-section-card .info p a {
  color: #767d8e;
}
.middle-section .middle-section-card3 {
  padding: 50px;
  border-radius: 10px;
  background-color: #2b9b1f;
  margin-top: -200px;
  position: relative;
  z-index: 9999999;
}
.middle-section .middle-section-card3 .heading h2 {
  text-transform: uppercase;
  color: #fff;
}
.middle-section .middle-section-card3 .heading i {
  font-size: 50px;
  color: #fff;
}
.middle-section .middle-section-card3 .info p {
  text-align: left;
  margin-bottom: 15px;
  color: #fff;
}
.middle-section .middle-section-card3 .info a {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}
.middle-section .middle-section-card3 .info a i {
  padding-left: 10px;
  font-size: 14px;
}

.about {
  margin-top: 100px;
}
.about h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  color: #000;
  position: relative;
  display: inline-block;
}
.about h2::after {
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #2b9b1f;
  content: "";
}
.about .about-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.about .about-image .about-large-img {
  width: 100%;
}
.about .about-image .about-small-img {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50%;
  border-top: 20px solid #fff;
  border-right: 20px solid #fff;
  border-radius: 0px 10px;
}
.about .details-about-us {
  margin-left: 50px;
}
.about .details-about-us h3 {
  font-size: 35px;
  color: #181c28;
  margin-bottom: 20px;
}
.about .details-about-us span {
  color: #767d8e;
  line-height: 25px;
}
.about .details-about-us .quotes {
  margin: 30px 0px;
  background-color: #f9f9fc;
  padding: 30px;
  position: relative;
  border-radius: 10px;
  border-left: 5px solid #2b9b1f;
}
.about .details-about-us .quotes p {
  width: 80%;
  color: #767d8e;
  font-style: italic;
}
.about .details-about-us .quotes span b {
  color: #2b9b1f;
}
.about .details-about-us .quotes i {
  font-size: 100px;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(0%, -50%);
  color: #eee;
}
.about .details-about-us .about-points {
  display: flex;
}
.about .details-about-us .about-points .points ul {
  margin-top: 10px;
  margin-bottom: 30px;
}
.about .details-about-us .about-points .points ul li {
  margin-bottom: 10px;
  color: #767d8e;
}
.about .details-about-us .about-points .points ul li i {
  margin-right: 10px;
  color: #2b9b1f;
}
.about .details-about-us .about-points .points a {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #2b9b1f;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
}
.about .details-about-us .about-points .points-image {
  width: 40%;
  margin-left: 10%;
}
.about .details-about-us .about-points .points-image img {
  width: 100%;
  border-radius: 10px;
}

.why-choose-us {
  margin-top: 100px;
  background-color: #181c28;
  color: #fff;
  padding-left: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.why-choose-us h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  display: inline-block;
}
.why-choose-us h2::after {
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #2b9b1f;
  content: "";
}
.why-choose-us .why-us-content {
  margin-top: 10px;
  padding-right: 50px;
}
.why-choose-us .why-us-content h3 {
  font-size: 35px;
  margin-bottom: 20px;
}
.why-choose-us .why-us-content p {
  color: #c4c4c4;
}
.why-choose-us .why-us-content .why-us-card {
  margin-top: 20px;
}
.why-choose-us .why-us-content .why-us-card i {
  background-color: #2b9b1f;
  padding: 15px;
  border-radius: 5px;
  font-size: 30px;
}
.why-choose-us .why-us-content .why-us-card h4 {
  margin-top: 10px;
}
.why-choose-us .why-us-content .why-us-card2 i,
.why-choose-us .why-us-content .why-us-card3 i {
  color: #2b9b1f;
  background-color: #fff;
}
.why-choose-us .why-us-img img {
  width: 100%;
}

.our-services {
  margin-top: 100px;
}
.our-services h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  display: inline-block;
}
.our-services h2::after {
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #2b9b1f;
  content: "";
}
.our-services h3 {
  font-size: 35px;
  margin-bottom: 20px;
}
.our-services p {
  color: #767d8e;
}
.our-services a {
  padding: 10px 20px;
  background-color: #2b9b1f;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
}
.our-services .service-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.our-services .service-card img {
  width: 100%;
  margin-bottom: 20px;
}
.our-services .service-card i {
  font-size: 40px;
  color: #2b9b1f;
}
.our-services .service-card .service-card-content {
  padding-bottom: 20px;
  margin-left: 20px;
}
.our-services .service-card .service-card-content a {
  padding: 0px;
  background-color: transparent;
  color: #2b9b1f;
}
.our-services .service-card .service-card-content a i {
  padding-left: 3px;
  font-size: 14px;
}

.logs {
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 300px;
  background-image: url(../images/logs-bg.jpg);
  background-size: cover;
  background-position: fixed;
  position: relative;
  color: #fff;
}
.logs::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 28, 40, 0.9);
  content: "";
}
.logs h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  display: inline-block;
  position: relative;
  z-index: 9;
}
.logs h2::after {
  position: absolute;
  z-index: 9;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #2b9b1f;
  content: "";
}
.logs .content h3 {
  font-size: 35px;
  position: relative;
  z-index: 9;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.logs .content p {
  position: relative;
  z-index: 9;
  color: #fff;
}
.logs .numbers {
  position: relative;
  z-index: 9;
  margin-left: 20px;
}
.logs .numbers ul li {
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}
.logs .numbers ul li .number {
  position: absolute;
  left: 0%;
  top: 1px;
}
.logs .numbers ul li .per {
  position: absolute;
  left: 5%;
  top: 1px;
}
.logs .numbers ul li input {
  width: 100%;
  height: 10px;
}
.logs .numbers ul li .range {
  margin-top: 5px;
  width: 100%;
  background-color: #fff;
  height: 10px;
  border-radius: 5px;
  position: relative;
}
.logs .numbers ul li .range .increment {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  width: 0%;
  background-color: #2b9b1f;
  height: 10px;
}

.contact {
  margin-bottom: 100px;
}
.contact .form-wrapper {
  background-color: #fff;
  margin-top: -250px;
  position: relative;
  z-index: 9999;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.contact .form-wrapper .contact-image-wrapper {
  position: relative;
  height: 100%;
}
.contact .form-wrapper .contact-image-wrapper img {
  width: 100%;
  height: 100%;
}
.contact .form-wrapper .contact-image-wrapper .director-message {
  text-align: center;
  width: 80%;
  position: absolute;
  z-index: 9;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}
.contact .form-wrapper .contact-image-wrapper::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
}
.contact .form-wrapper .contact-form {
  padding: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}
.contact .form-wrapper .contact-form form input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: 2px solid #ededed;
  border-radius: 5px;
}
.contact .form-wrapper .contact-form form p {
  padding-left: 15px;
  font-size: 14px;
  color: red;
  opacity: 0;
  visibility: hidden;
}
.contact .form-wrapper .contact-form form textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding-left: 15px;
  border: 2px solid #ededed;
  border-radius: 5px;
}
.contact .form-wrapper .contact-form form .submit-button {
  text-align: left;
}
.contact .form-wrapper .contact-form form .submit-button button {
  padding: 8px 30px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-transform: uppercase;
  background-color: #2b9b1f;
  color: #fff;
}

.steps {
  margin: 100px 0px;
}
.steps h2 {
  margin: 50px 0px 20px 0px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  position: relative;
  z-index: 9;
  text-align: center;
}
.steps h2::after {
  position: absolute;
  z-index: 9;
  left: 50%;
  transform: translate(-50%);
  bottom: -5px;
  width: 200px;
  height: 2px;
  background-color: #2b9b1f;
  content: "";
}
.steps h3 {
  font-size: 35px;
  position: relative;
  z-index: 9;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: center;
}
.steps p {
  text-align: center;
}
.steps .steps-card {
  position: relative;
  text-align: center;
}
.steps .steps-card span {
  position: absolute;
  top: 0px;
  left: 10%;
  transform: translate(-50%);
  padding: 8px;
  background-color: #181c28;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
}
.steps .steps-card i {
  padding: 20px;
  background-color: #2b9b1f;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  border-radius: 5px;
}
.steps .steps-card h4 {
  margin-top: 20px;
  font-family: "Heebo", sans-serif;
  font-size: 22px;
}
.steps .steps-card p {
  color: #767d8e;
}
.steps .arro-img {
  text-align: center;
}
.steps .arro-img img {
  width: 100%;
}

.testimonials {
  background-image: url(../images/testimonials-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  position: relative;
  color: #fff;
}
.testimonials::after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
}
.testimonials h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  z-index: 9;
  display: inline-block;
  color: #fff;
  margin-bottom: 30px;
}
.testimonials h2::after {
  position: absolute;
  z-index: 9;
  left: 0px;
  bottom: -5px;
  width: 200px;
  height: 2px;
  background-color: #2b9b1f;
  content: "";
}
.testimonials h3 {
  font-size: 35px;
  position: relative;
  z-index: 9;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.testimonials p {
  z-index: 9;
  position: relative;
}
.testimonials .testimonials-slider {
  position: relative;
  z-index: 99;
  border-radius: 10px 10px 0px 0px;
  margin-top: 10px;
  background-color: #fff;
  overflow: hidden;
}
.testimonials .testimonials-slider .clients-card {
  padding: 50px;
}
.testimonials .testimonials-slider .clients-card p {
  color: #767d8e;
  font-style: italic;
  font-size: 18px;
}
.testimonials .testimonials-slider .clients-card .clients-details {
  margin-top: 30px;
  align-items: center;
  position: relative;
}
.testimonials .testimonials-slider .clients-card .clients-details img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 30px;
}
.testimonials .testimonials-slider .clients-card .clients-details .name {
  font-weight: bold;
  font-style: normal;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.testimonials .testimonials-slider .clients-card .clients-details span {
  color: #767d8e;
}
.testimonials .testimonials-slider .clients-card i {
  position: absolute;
  right: 30px;
  bottom: 0px;
  font-size: 80px;
  color: #2b9b1f;
  opacity: 0.8;
}

footer {
  padding: 80px 0px;
  margin-top: 50px;
  background-color: #181c28;
  color: #fff;
}
footer .compeny-details {
  background-color: #1F2330;
  border-radius: 10px;
  margin-top: -120px;
  padding: 30px;
}
footer .compeny-details img {
  width: 100%;
}
footer .compeny-details p {
  margin: 30px 0px;
  color: #767d8e;
}
footer .compeny-details ul li {
  margin-bottom: 15px;
}
footer .compeny-details ul li a {
  color: #fff;
}
footer .compeny-details ul li a i {
  padding-right: 15px;
  color: #2b9b1f;
}
footer .footer-nav h3, footer .quick-links h3 {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
footer .footer-nav ul li, footer .quick-links ul li {
  margin-bottom: 10px;
}
footer .footer-nav ul li a, footer .quick-links ul li a {
  color: #fff;
  text-transform: capitalize;
}
footer .footer-nav ul li a i, footer .quick-links ul li a i {
  padding-right: 15px;
  color: #2b9b1f;
}
footer .footer-social-links h3 {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
footer .footer-social-links ul {
  display: flex;
  justify-content: space-between;
}
footer .footer-social-links ul li {
  margin-bottom: 10px;
}
footer .footer-social-links ul li a i {
  font-size: 20px;
  padding: 10px;
  background-color: #2b9b1f;
  border-radius: 5px;
  color: #fff;
}
footer .footer-social-links ul li a .fa-facebook-f {
  padding: 10px 14px;
}
footer .footer-social-links ul li a .fa-instagram {
  padding: 10px 11px;
}/*# sourceMappingURL=index.css.map */